In [1]:
import sys
from pathlib import Path

# proje kök dizinine çık
project_root = Path.cwd().parent
sys.path.append(str(project_root))

In [ ]:

from src.config import RAW_PATH
from src.cleaning import load_raw_dataset 

df = load_raw_dataset(RAW_PATH) #read as pandas dataframe
df.head() #shows first 5 rows

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,...,5,5,5,5,2,5,5,50,44.0,satisfied
1,1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,...,4,4,4,4,3,4,5,0,0.0,satisfied
2,2,12360,Male,disloyal Customer,20,Business travel,Eco,192,2,0,...,2,4,1,3,2,2,2,0,0.0,neutral or dissatisfied
3,3,77959,Male,Loyal Customer,44,Business travel,Business,3377,0,0,...,1,1,1,1,3,1,4,0,6.0,satisfied
4,4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,...,2,2,2,2,4,2,4,0,20.0,satisfied

In [3]:
from src.cleaning import drop_unwanted_columns
from src.config import DROP_COLUMNS

df = drop_unwanted_columns(df, DROP_COLUMNS) #drop unwanted columns if they exist
df.columns

Index(['Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class',
       'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction'],
      dtype='object')

In [4]:
from src.config import IMPUTE_COLUMN
from src.cleaning import impute_mean_inplace

mean_used = impute_mean_inplace(df, IMPUTE_COLUMN) #impute missing values with mean
print(f"Mean used for imputation: {mean_used:.2f}") #   
df[IMPUTE_COLUMN].isnull().sum() #check if there are still missing values

Mean used for imputation: 14.74

np.int64(0)

In [ ]:
from src.config import PROCESSED_PATH
from src.cleaning import save_processed_dataset

save_processed_dataset(df, PROCESSED_PATH) #save the cleaned dataframe to a CSV file

In [6]:
import os
os.path.exists(PROCESSED_PATH) #check if the file is saved successfully

True